.btnc:hover{
    background-color: tomato;
}

.bntg:hover{
    background-color: aliceblue;
}

.form-row{
    margin:auto;
}

.mat-form-field{
    margin-right:20px;

    @media (max-width: 600px){
       
    }
}

@media (max-width: 600px){
    .formCol{
        place-content: center!important;
    }
}