<form [formGroup]="form" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
  <mat-toolbar color="primary">
      <div style="margin:auto;">
          <h2 mat-dialog-title>{{title}}</h2>
      </div>  
  </mat-toolbar>

  <mat-dialog-content fxLayout="row wrap">
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px">
        <mat-form-field>
          <input matInput formControlName="dni" placeholder="DNI" required>
          <mat-error *ngIf="f.dni.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.dni.errors?.minlength">Debes introducir 9 carácteres.</mat-error>
          <mat-error *ngIf="f.dni.errors?.maxlength">Debes introducir 9 carácteres.</mat-error>
          <mat-error *ngIf="f.dni.errors?.pattern &&
                          !f.dni.errors?.required &&
                          !f.dni.errors?.minlength &&
                          !f.dni.errors?.maxlength">
                          DNI inválido.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Nombre" required>
          <mat-error *ngIf="f.name.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.name.errors?.pattern && !f.name.errors?.required">Nombre inválido</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px">
        <mat-form-field>
          <input matInput formControlName="surname" placeholder="Apellido" required>
          <mat-error *ngIf="f.surname.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.surname.errors?.minlength">La longitud mínima son 2 carácteres.</mat-error>
          <mat-error *ngIf="f.surname.errors?.maxlength">La longitud mínima son 2 carácteres..</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="180px">
          <input matInput formControlName="dbirth" [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="F.nacimiento" required >
          <mat-error *ngIf="f.dbirth.errors?.required">El campo es requerido.</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.gt-xs="390px">
        <mat-form-field fxFill>
          <input matInput formControlName="address" placeholder="Dirección" required>
          <mat-error *ngIf="f.address.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.address.errors?.minlength">La longitud mínima son 5 carácteres.</mat-error>
          <mat-error *ngIf="f.address.errors?.maxlength">La longitud máxima son 50 carácteres.</mat-error>
          <mat-error *ngIf="f.address.errors?.pattern &&
                            !f.address.errors?.required &&
                            !f.address.errors?.minlength &&
                            !f.address.errors?.maxlength 
                            ">
                            Dirección inválida</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px">
        <mat-form-field>
          <input matInput formControlName="cp" placeholder="Código postal" required>
          <mat-error *ngIf="f.cp.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.cp.errors?.pattern">Código postal inválido.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="population" placeholder="Comunidad autónoma" required>
            <mat-option *ngFor="let data of geoList" [value]="data">{{ data }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.population.errors?.required">El campo es requerido.</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex.gt-xs="390px">
        <mat-form-field fxFill>
          <input matInput formControlName="iban" pattern="ES\d{22}" placeholder="IBAN" required>
          <mat-error *ngIf="f.iban.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.iban.errors?.pattern && !f.iban.errors?.required">
                      IBAN inválido. ej ES+22 dígitos.</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px">
        <mat-form-field>
          <input matInput formControlName="phone" placeholder="Teléfono" required>
          <mat-error *ngIf="f.phone.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.phone.errors?.pattern && !f.phone.errors?.required">
                        Teléfono inválido, ej 678432212.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="job" placeholder="Trabajo" required>
          <mat-error *ngIf="f.job.errors?.required">El campo es requerido.</mat-error>
          <mat-error *ngIf="f.job.errors?.minlength">La longitud mínima son 2 carácteres.</mat-error>
          <mat-error *ngIf="f.job.errors?.maxlength">La longitud máxima son 10 carácteres.</mat-error>
        </mat-form-field>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button mat-dialog-close class="btnc">Cancelar</button>
      <button mat-button type="submit" class="btng" [disabled]="form.invalid || form.pristine">Guardar</button>
  </mat-dialog-actions>
</form>