
<mat-toolbar class=toolbarcontent>
    <span class="title-center">Contratos</span>
</mat-toolbar>

<div class="header" fxLayout="row wrap" fxLayoutAlign="space-around center">
  <mat-form-field fxFill fxFlex=60>
    <input matInput [(ngModel)]="filter" (keyup)="doFilter($event.target.value)"  placeholder="Filtro">
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="loading"> 
    <mat-progress-spinner
      class="spinner-props"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <table mat-table class="full-width-table" [dataSource]="MyDataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="property_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inmueble</th>
      <td mat-cell *matCellDef="let element">{{element.property_id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>
   
    <ng-container matColumnDef="renter_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inquilino</th>
      <td mat-cell *matCellDef="let element">{{element.renter_id}}</td>
    </ng-container>
   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.name+' '+element.surname}}</td>
    </ng-container>

    <ng-container matColumnDef="dstart">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Inicio</th>
      <td mat-cell *matCellDef="let element">{{element.dstart | date:'dd/MM/yyyy'}}</td>
    </ng-container>
 
    <ng-container matColumnDef="dend">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fin</th>
      <td mat-cell *matCellDef="let element">{{element.dend | date:'dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </th>   

        <td mat-cell *matCellDef="let element;let i=index">
            <button mat-button color="accent" (click)="onEdit(element)">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-button (click)="onDelete(element)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
  </table>
  <div class="footer">
    <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]">
    </mat-paginator>
  </div>  
</div>