.mat-elevation-z8{
  @media (max-width: 650px) {
    height: calc(100% - 233px);
  }
  overflow: auto;
  height: calc(100% - 247px);
}

.full-width-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
}

.header {
  min-height: 64px;
  top:0;
  text-align:center;
}

.title-center {
  margin: 0 auto;
}

.toolbarcontent{
  background-color:#FAFAFA;
}
  
.mat-column-actions{
  text-align:center;
}

::ng-deep snack-bar-container.snackBar {
  background-color: green;
  color: white;

}
::ng-deep snack-bar-container.snackBar button{
    color:white;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index:100;
  text-align: center;
}