<div fxLayout="row gap" fxLayoutAlign="center center"  fxFill>
  <mat-card  class="card-auth" style="min-width: 300px">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center" style="margin-bottom:5px;" >
      <mat-card-title>
        <div *ngIf="authType == 'login'">
          {{title}}/<span (click)="goToggle()" style="color:#3F51B5">Registro</span>
        </div>
        <div *ngIf="authType == 'register'">
          {{title}}/<span (click)="goToggle()" style="color:#3F51B5">Login</span>
        </div>
      </mat-card-title>
    </mat-card-header>
    <form [formGroup]="authForm" (ngSubmit)="submitForm()">
      <fieldset  [disabled]="isSubmitting">
        <mat-card-content>
          <mat-form-field *ngIf="authType == 'register'" color="primary" fxLayout="row gap" fxLayoutAlign="center center" class="form-group">
            <input matInput formControlName="name" placeholder="Username" name="name" required>
            <mat-error *ngIf="f.name.errors?.required">El nombre de usuario es requerido</mat-error>
            <mat-error *ngIf="f.name.errors?.minlength">La longitud mínima son 3 carácteres.</mat-error>
            <mat-error *ngIf="f.name.errors?.maxlength">La longitud máxima son 10 carácteres.</mat-error>
          </mat-form-field>
          <mat-form-field color="primary" fxLayout="row gap" fxLayoutAlign="center center" class="form-group">
            <input matInput  formControlName="email" placeholder="Email" name="email" required>
            <mat-error *ngIf="f.email.errors?.required">El email es requerido</mat-error>
            <mat-error *ngIf="f.email.errors?.email">El email no es válido</mat-error>
          </mat-form-field>
          <mat-form-field color="primary" fxLayout="row gap" fxLayoutAlign="center center" class="form-group">
            <input matInput formControlName="password" placeholder="Password" [type]="hide ? 'password' : 'text'" name="password" required>
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-error *ngIf="f.password.errors?.required">La contraseña es requerida</mat-error>
            <mat-error *ngIf="f.password.errors?.minlength">La longitud mínima son 6 carácteres.</mat-error>
            <mat-error *ngIf="f.password.errors?.maxlength">La longitud máxima son 10 carácteres.</mat-error>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="center center" style="margin-bottom:5px;">
          <button mat-raised-buttonw color="primary" [disabled]="!authForm.valid">{{title}}</button>  
        </mat-card-actions>
      </fieldset>
    </form>
  </mat-card>
</div>