<mat-toolbar color="primary">
  <div style="margin:auto;">
    <h2 mat-dialog-title>{{title}}</h2>
  </div>  
</mat-toolbar>
  
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" fxFlexOffset="10px">
        <mat-form-field>
          <mat-select formControlName="property_id" placeholder="Propiedad" required>
            <mat-option *ngFor="let data of properties" [value]="data">{{ data }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.property_id.errors?.required">El campo es requerido.</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-select formControlName="renter_id" placeholder="Inquilino" required>
            <mat-option *ngFor="let data of renters" [value]="data">{{ data }}</mat-option>
          </mat-select>
          <mat-error *ngIf="f.renter_id.errors?.required">El campo es requerido.</mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" fxFlexOffset="10px">
        <mat-form-field fxFlex="180px">
          <input matInput formControlName="dstart" [matDatepicker]="picker" (dateChange)="changeStartDate($event)" placeholder="F.inicio" required>
          <mat-error *ngIf="f.dstart.errors?.required">El campo es requerido.</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field fxFlex="180px">
          <input matInput formControlName="dend" [matDatepickerFilter]="myFilter" [matDatepicker]="picker2" placeholder="F.fin" required>
          <mat-error *ngIf="f.dend.errors?.required">El campo es requerido.</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </div>

      <div fxLayout="row wrap"  fxFill fxLayoutAlign="center center" fxLayoutGap.gt-xs="30px" >
          <mat-checkbox formControlName="iva" >IVA</mat-checkbox>
      </div>  

      <div fxLayout="row wrap" fxLayoutGap="30px" fxFill fxLayoutAlign="center center">
        <div fxLayout="column wrap" >
          <div fxLayout="row wrap"  >
            <mat-checkbox  fxFlex="110px">Agua</mat-checkbox>
          </div>
        </div>
        <div fxLayout="column wrap">
            <div fxLayout="row wrap" >
              <mat-checkbox fxFlex="110px">Gas</mat-checkbox>
            </div>
        </div>
      </div>
      <div fxLayout="row wrap" fxLayoutGap="30px" fxFill fxLayoutAlign="center center">
        <div fxLayout="column wrap">
            <div fxLayout="row wrap" >
              <mat-checkbox fxFlex="110px">Electricidad</mat-checkbox>
            </div>
        </div>
        <div fxLayout="column wrap">
            <div fxLayout="row wrap" >
              <mat-checkbox fxFlex="110px">Comunidad</mat-checkbox>
            </div>
        </div>
      </div>
    </div>

  </mat-dialog-content>
  <mat-dialog-actions>
      <button mat-button mat-dialog-close class="btnc">Cancelar</button>
      <button mat-button class="btng" [disabled]="form.invalid || form.pristine">Guardar</button>
  </mat-dialog-actions>
</form>