
<mat-toolbar class=toolbarcontent>
    <span class="title-center">Inmuebles</span>
</mat-toolbar>

<div class="header" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <mat-form-field fxFill fxFlex=60>
    <input matInput (keyup)="doFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" [dataSource]="MyDataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="cref">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>R.catastral</th>
      <td mat-cell *matCellDef="let element">{{element.cref}}</td>
    </ng-container>
   
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>

    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Población</th>
      <td mat-cell *matCellDef="let element">{{element.population}}</td>
    </ng-container>
 
    <ng-container matColumnDef="province">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Provincia</th>
      <td mat-cell *matCellDef="let element">{{element.province}}</td>
    </ng-container>

    <ng-container matColumnDef="cp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Código postal</th>
      <td mat-cell *matCellDef="let element">{{element.cp}}</td>
    </ng-container>
    
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</th>
      <td mat-cell *matCellDef="let element">{{element.type}}</td>
    </ng-container>
    
    <ng-container matColumnDef="m2">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dimensiones</th>
      <td mat-cell *matCellDef="let element" class="number-col">{{element.m2}}</td>
    </ng-container>
    
    <ng-container matColumnDef="nroom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N. Habitaciones</th>
      <td mat-cell *matCellDef="let element" class="number-col">{{element.nroom}}</td>
    </ng-container>

    <ng-container matColumnDef="nbath">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>N. Baños</th>
      <td mat-cell *matCellDef="let element" class="number-col">{{element.nbath}}</td>
    </ng-container>


    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </th>   

        <td mat-cell *matCellDef="let element;let i=index">
            <button mat-button color="accent" (click)="onEdit(element)">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-button (click)="onDelete(element)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </td>
    
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
  </table>
  
  <div class="footer">
    <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]">
    </mat-paginator>
  </div>  
</div>