.sidenav-container {
  height: 100%;
}

.sidenav {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0;
  min-width: 150px;
  &.collapsed {
    top: 56px;
  }
  @media (min-width: 650px){
    top: 64px !important;
  }
}

.active-link {
  color: blue;
  font-weight: bold !important;
  border: none;
}


mat-sidenav-container {
  position: fixed;
  height: 100%;
  width: 100%;
}

.myspacer {
  flex: 1 1 auto;
}

.icolor{
  color:white!important;
}