<mat-toolbar color="primary">
  <button
    type="button"
    aria-label="Abrir/cerrar menu"
    mat-icon-button
    (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Menu">menu</mat-icon>
  </button>
  <span>Rentstate</span>
  <span class="myspacer"></span>
  <button mat-menu-item (click)="logout()" class="btcolor">
    <mat-icon class="icolor">exit_to_app</mat-icon>
    <span>Sign out</span>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-nav-list>
      <a mat-list-item routerLink="properties" routerLinkActive="active-link" (click)="linkClose()"><mat-icon>home</mat-icon>Inmuebles</a>
      <a mat-list-item routerLink="renters" routerLinkActive="active-link" (click)="linkClose()"><mat-icon> contacts</mat-icon>Inquilinos</a>
      <a mat-list-item routerLink="contracts"routerLinkActive="active-link" (click)="linkClose()">	<mat-icon>description</mat-icon>Contratos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

