<mat-toolbar color="primary">
  <!-- <button mat-icon-button  (click)="sidenav.toggle()" fxShow.gt-md="false" >
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>RentState</span>
  <span class="menu-spacer"></span>
  <mat-icon  >exit_to_app</mat-icon>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
  <mat-sidenav >
    <mat-nav-list>
      <a href="#" mat-list-item>Inmuebles</a>
      <a href="#" mat-list-item>Inquilinos</a>
      <a href="#" mat-list-item>Contratos</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
