
<mat-toolbar class=toolbarcontent>
    <span class="title-center">Inquilinos</span>
</mat-toolbar>

<div class="header" fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <mat-form-field fxFill fxFlex=60>
    <input matInput (keyup)="doFilter($event.target.value)" placeholder="Filtro">
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <div *ngIf="loading"> 
    <mat-progress-spinner
      class="spinner-props"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>
  <table mat-table class="full-width-table" [dataSource]="MyDataSource" matSort aria-label="Elements">
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
      <td mat-cell *matCellDef="let element">{{element.dni}}</td>
    </ng-container>
   
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido</th>
      <td mat-cell *matCellDef="let element">{{element.surname}}</td>
    </ng-container>
 
    <ng-container matColumnDef="dbirth">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>F.nacimiento</th>
      <td mat-cell *matCellDef="let element">{{element.dbirth | date:'dd/mm/yyyy'}}</td>
    </ng-container>

    
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Dirección</th>
      <td mat-cell *matCellDef="let element">{{element.address}}</td>
    </ng-container>
    
    <ng-container matColumnDef="cp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>CP</th>
      <td mat-cell *matCellDef="let element">{{element.cp}}</td>
    </ng-container>
    
    <ng-container matColumnDef="population">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Población</th>
      <td mat-cell *matCellDef="let element">{{element.population}}</td>
    </ng-container>
    
    
    <ng-container matColumnDef="iban">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>IBAN</th>
      <td mat-cell *matCellDef="let element">{{element.iban}}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfono</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-container>
    
    <ng-container matColumnDef="job">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Trabajo</th>
      <td mat-cell *matCellDef="let element">{{element.job}}</td>
    </ng-container>
    
    <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button color="primary" (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </th>   

        <td mat-cell *matCellDef="let element;let i=index">
            <button mat-button color="accent" (click)="onEdit(element)">
                <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-button (click)="onDelete(element)">
                <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
        </td>
    
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns;"></tr>
  </table>
  
  <div class="footer">
    <mat-paginator #paginator
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 15, 20]">
    </mat-paginator>
  </div>  
</div>