/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Add application styles & imports to this file! */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
html, body { height: 100%; width:100%;background-color: #fafafa;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-column-actions { padding-right:0px!important; }