.properties-avaliable {
    height: 200px;
}

mat-card-content{
    padding-top:20px;
    padding-bottom:20px;
}

canvas {
    padding-bottom:15px;
}

.chart-result > p {
    padding-left:10px;
    padding-right:10px;

}