.loading-indicator {
    position:fixed;
    margin:auto;
    left:0;
    right:0;
    top:0;
    bottom:0;
    
}

.properties-container {
}

canvas {
    padding-bottom:15px;
}
.chart-container {
    padding-top:50px;
}

.chart-result > p {
    padding-left:10px;
    padding-right:10px;

}

.notifications-container{
    margin-top:20px;
}

.list-container {
    width: 100%;
    border: 1px solid black;
}
  
.example-item {
height: 100px;
}

.home-tab{
    height: 100%;
}