.properties-container {
}

canvas {
    padding-bottom:15px;
}

.chart-result > p {
    padding-left:10px;
    padding-right:10px;

}

.notifications-container{
    margin-top:20px;
}

.list-container {
    height: 400px;
    width: 100%;
    border: 1px solid black;
}
  
.example-item {
height: 100px;
}

.home-tab{
    height: 100%;
}