.btnc:hover{
    background-color: tomato;
}

.bntg:hover{
    background-color: aliceblue;
}

.mat-form-field{
    margin-right:20px;

    @media (max-width: 600px){
       
    }
}

::ng-deep snack-bar-container.snackBar {
    background-color: green;
    color: white;

  }
  ::ng-deep snack-bar-container.snackBar button{
      color:white;
  }

  @media (max-width: 600px){
    .formCol{
        place-content: center!important;
    }
}