.btnc:hover{
    background-color: tomato;
}

.bntg:hover{
    background-color: aliceblue;
}


::ng-deep snack-bar-container.snackBar {
    background-color: green;
    color: white;

  }
  ::ng-deep snack-bar-container.snackBar button{
      color:white;
  }